// About START
.about {
  background: $whiteShadeColor;
  &__flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    // margin-right: 30%;
    margin-left: 45%;
    h2, p {
      width: 100%;
    }
  }
  
  &__content {
    justify-self: flex-start;
  }
  &__text {
    flex: inherit;
    width: 40%;
  }
}
// About END
@media (max-width: 852px) {
.about {
  &__flex {
    align-items: flex-start;
    width: 100%;
  }
  &__content {
    justify-self: flex-start;
  }
  &__text {
    flex: inherit;
    width: 100%;
  }
}

}