// Header START 
.main-header {
  background: $primaryColor;
  height: 65vh;
  text-align: center;
   .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: auto;
      align-items: center;
      position: relative;
    }
    .main-header__title {
        margin: 0 75px;
        font-size: 15rem;
          &::after {
          content: "";
          background: url(../assets/circle-text.png) no-repeat center / cover;
          display: block;
          color: white;
          right: 0;
          top: 50%;
      }
    }
    .main-header__image {
        -webkit-box-shadow: 20px 20px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 20px 20px 0px 0px rgba(255,255,255,1);
        box-shadow: 20px 20px 0px 0px rgba(255,255,255,1);
        width: 38%;
        margin-top: 20px;
    }
      
}
// Header END  
// About START
.about {
  background: $whiteShadeColor;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin: auto;
    position: relative;
    text-align: left;
  }
  .about__container {
    width: 55%;
  }
}
// About END
// Image Break START
.image--break {
  background: url(../assets/home-image-2.jpg) no-repeat center / cover;
  // padding: 200px;
  min-height: 50vh;
}
// Image Break END
// Services START
.services {
  background: $whiteShadeColor;
   .services__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 15px 0;
      .services__item {
        flex-basis: calc(50% - 50px);
        margin-right: 50px;
        position: relative;
      }
   }
   .services__heading {
     display: inline-block;
      line-height: 0;
   }
   .services__text {
    max-width: 85%;
   }
}

.services__icon-stack {
    position: absolute;
    top: 5%;
    left: -12%;
     .services__icon-1 {
       color: $primaryColor;
       font-size: 40px;
     }
     .services__icon-2 {
       color: $blackColor;
     }
  }
// Services END
// Blog START
.blog {
  background: $whiteSolidColor;
}
.blog .blog__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
    .blog__content-container {
      flex: 1;
      padding: 2rem;
      width:60%;
    }
    .blog__image {
      flex: 1;
      width:30%;
      box-shadow: 20px 20px 0px 0px $greyBlueColor, -100px 20px 0 0 $greyBlueColor ;
      margin-bottom: 40px;
    }
    .blog_text {
      width: 50%;
    }
}

.blog .blog-item:nth-of-type(2) {
  flex-direction: column-reverse;
}
// Blog END
// Journey START
.journey {
  background: $whiteSolidColor;
  &.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}

    &.__content-container {
      flex: 1;
      padding: 2rem;
      width:60%;
    }
     &__image {
      flex: 1;
      width:30%;
      box-shadow: 20px 20px 0px 0px $greyBlueColor, -100px 20px 0 0 $greyBlueColor ;
      margin-bottom: 40px;
    }
    ._text {
      width: 50%;
    }

// Journey END



         

      