// Header START 
.main-header {
  background: $primaryColor;
  height: 45vh;
  position: relative;
  &__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title-container {
    align-content: center;
    // align-items: center;
    // justify-content: center;
    font-size: 12rem;
    flex-direction: row;
    position: relative;
      &::after {
      position: absolute;
      content: url(../assets/circle-text.png);
      color: white;
      top: 0;
      right: -22%;
      }
   }
   &__image {
      -webkit-box-shadow: 15px 15px 0px 0px rgba(255,255,255,1);
      -moz-box-shadow: 15px 15px 0px 0px rgba(255,255,255,1);
      box-shadow: 15px 15px 0px 0px rgba(255,255,255,1);
      // position: relative;
      width: 70%;
      // left: 2vw;
      // top: -2vh;
   }
}
// Header END  
// About START
.about {
  background: $whiteShadeColor;
  &__container {
  width: 65%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
  }
}
// About END
// Image Break START
.image--break {
  background: url(../assets/home-image-2.jpg) no-repeat center / cover;
  // padding: 200px;
  min-height: 50vh;
}
// Image Break END
// Services START
.services {
  background: $whiteShadeColor;
  &__heading {
    display: inline-block;
    line-height: 0;
  }
  &__text {
  max-width: 85%;
  }
  &__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 15px 0;
  }
  &__item {
  flex-basis: calc(50% - 50px);
  margin-right: 50px;
  position: relative;
  }
  &__icon-stack {
  position: absolute;
  top: 5%;
  left: -12%;   
    &-1 {
    color: $primaryColor;
    font-size: 40px;
    }  
    &-2 {
    color: $blackSolidColor;
    }
  }      
  
}
// Services END
// Blog START
.blog {
  background: $whiteSolidColor;
  display: flex;
  flex-direction: column;
  &__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
    &--left {
      flex-direction: row;
    }
    &--right {
        flex-direction: row-reverse;
      }
  }
  &__content-container {
    padding: 2rem;
    width: 100%;
  }
  &__image-container {
    // align-self: flex-start;
    margin-bottom: 40px;
  }
  &__text {
    width: 70%;
    &--right {
      // margin-left: auto;
    }
  }
  &__image {
    // display: block;
    &--left {
      box-shadow: 15px 15px 0px 0px $greyBlueColor, -200px 15px 0px 0px $greyBlueColor;
      object-fit: cover;
      // margin-left: auto;
    }
    &--right {
      box-shadow: 15px 15px 0px 0px $primaryColor, 200px 15px 0px 0px $primaryColor;
    }
  }

}
// Blog END
// Journey START
.journey {
  background: $whiteShadeColor;
  &__image {
      // max-width: 30%;
      box-shadow: 20px 20px 0px 0px $greyBlueColor;
  }
  &.__content-container {
  padding: 2rem;
  }
  &._text {
    width: 50%;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
 }
}
// Journey END
// Gallery START
// Gallery END
// Copyright START
.copyright {
  background: $blackSolidColor;
  width: 100%;
  padding: 1px 0;
  text-align: center;
  .copyright__text {
    color: $whiteSolidColor;
  }
}
// Copyright END
