    .top-nav__list  {
        margin: 0;
        padding: 0;
        display: flex;
        background: $primaryColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        text-transform: uppercase;
            .top-nav__item {
                    padding: 27px;
                    line-height: 2.9rem;
                    .top-nav__item--larger {
                      @include primaryFont(4rem);
                      &:hover {
                        color: $whiteShadeColor;
                      }
                    }
                    .top-nav__link {
                        text-decoration: none;
                        @include primaryFont(2.0rem);
                         transition: color 0.3s;
                        &:hover {
                        color: $whiteShadeColor;
                        }
                    }
                    
            }
          
}


    