article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 12rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 9.2rem; }

h2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

h3 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

h4 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

h1, h2, h3, h4 {
  text-transform: uppercase; }

.btn {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 3rem;
  background: #F38D8D;
  border: 1px transparent;
  text-decoration: none;
  transition: background 0.3s ease, border 0.3s ease; }
  .btn:hover {
    background: #F6F6F6;
    border: 1px solid #F38D8D; }

img {
  width: 100%; }

p {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 2rem;
  line-height: 3.2rem; }

li {
  list-style: none;
  text-decoration: none; }

section {
  padding: 75px 0; }

.top-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  background: #B9DDE7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  text-transform: uppercase; }
  .top-nav__list .top-nav__item {
    padding: 27px;
    line-height: 2.9rem; }
    .top-nav__list .top-nav__item .top-nav__item--larger {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
      .top-nav__list .top-nav__item .top-nav__item--larger:hover {
        color: #F6F6F6; }
    .top-nav__list .top-nav__item .top-nav__link {
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      color: #171717;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      transition: color 0.3s; }
      .top-nav__list .top-nav__item .top-nav__link:hover {
        color: #F6F6F6; }

.main-header {
  background: #B9DDE7;
  height: 65vh;
  text-align: center; }
  .main-header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    position: relative; }
  .main-header .main-header__title {
    margin: 0 75px;
    font-size: 15rem; }
    .main-header .main-header__title::after {
      content: "";
      background: url(../assets/circle-text.png) no-repeat center/cover;
      display: block;
      color: white;
      right: 0;
      top: 50%; }
  .main-header .main-header__image {
    -webkit-box-shadow: 20px 20px 0px 0px white;
    -moz-box-shadow: 20px 20px 0px 0px white;
    box-shadow: 20px 20px 0px 0px white;
    width: 38%;
    margin-top: 20px; }

.about {
  background: #F6F6F6; }
  .about .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin: auto;
    position: relative;
    text-align: left; }
  .about .about__container {
    width: 55%; }

.image--break {
  background: url(../assets/home-image-2.jpg) no-repeat center/cover;
  min-height: 50vh; }

.services {
  background: #F6F6F6; }
  .services .services__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 15px 0; }
    .services .services__list .services__item {
      flex-basis: calc(50% - 50px);
      margin-right: 50px;
      position: relative; }
  .services .services__heading {
    display: inline-block;
    line-height: 0; }
  .services .services__text {
    max-width: 85%; }

.services__icon-stack {
  position: absolute;
  top: 5%;
  left: -12%; }
  .services__icon-stack .services__icon-1 {
    color: #B9DDE7;
    font-size: 40px; }
  .services__icon-stack .services__icon-2 {
    color: #171717; }

.blog {
  background: #FFFFFF; }

.blog .blog__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end; }
  .blog .blog__item .blog__content-container {
    flex: 1;
    padding: 2rem;
    width: 60%; }
  .blog .blog__item .blog__image {
    flex: 1;
    width: 30%;
    box-shadow: 20px 20px 0px 0px #68B0C1, -100px 20px 0 0 #68B0C1;
    margin-bottom: 40px; }
  .blog .blog__item .blog_text {
    width: 50%; }

.blog .blog-item:nth-of-type(2) {
  flex-direction: column-reverse; }
