article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5%; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.spacer {
  height: 2vh;
  background: #F6F6F6; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 9.2rem; }

h2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

h3 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

h4 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

li {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 29px;
  letter-spacing: 1px; }

input, textarea {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 2rem;
  line-height: 3.2rem;
  color: black;
  display: inline-block; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 3rem;
  background: #F38D8D;
  border: 1px transparent;
  text-decoration: none;
  transition: background 0.3s ease, border 0.3s ease;
  text-align: center; }
  .btn:hover {
    background: #F6F6F6;
    border: 1px solid #F38D8D; }

p {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 2rem;
  line-height: 3.2rem; }

li {
  list-style: none;
  text-decoration: none; }

section {
  padding: 75px 0; }

.main-header {
  background: #B9DDE7;
  position: relative; }
  .main-header__content-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main-header__title-container {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    font-size: 12rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background: url(../assets/circle-text.png);
    background-repeat: no-repeat;
    background-position-y: 30%, center;
    background-position-x: 100%, center;
    padding: 4rem 8rem;
    line-height: 9.2rem;
    position: relative;
    color: white; }
  .main-header__image {
    -webkit-box-shadow: 15px 15px 0px 0px white;
    -moz-box-shadow: 15px 15px 0px 0px white;
    box-shadow: 15px 15px 0px 0px white;
    width: 80%;
    margin-bottom: -100px; }

.secondary-header {
  background: url(../assets/blog-image-1.jpg) no-repeat center/cover;
  height: 49vh;
  position: relative; }
  .secondary-header__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: -55%;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 5%; }

.secondary-header--contact {
  background: url(../assets/contact-image-1.jpg) no-repeat center/cover; }

.top-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  z-index: 10;
  background: #B9DDE7;
  justify-content: center;
  list-style: none;
  text-transform: uppercase; }
  .top-nav__list .top-nav__item {
    padding: 27px;
    line-height: 2.9rem; }
    .top-nav__list .top-nav__item .top-nav__item--larger {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
      .top-nav__list .top-nav__item .top-nav__item--larger:hover {
        color: #F6F6F6; }
    .top-nav__list .top-nav__item .top-nav__link {
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      color: #171717;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      transition: color 0.3s; }
      .top-nav__list .top-nav__item .top-nav__link:hover {
        color: #F6F6F6; }

.about {
  background: #F6F6F6;
  display: flex;
  justify-content: flex-end; }
  .about__content-container {
    width: 40%; }

.image--break {
  background: url(../assets/home-image-2.jpg) no-repeat center/cover;
  min-height: 50vh; }

.services {
  background: #F6F6F6; }
  .services__heading {
    display: inline-block;
    line-height: 0; }
  .services__text {
    max-width: 85%; }
  .services__list {
    display: flex;
    flex-flow: row wrap; }
  .services__item {
    flex-basis: calc(50% - 50px);
    position: relative; }
  .services__icon-stack {
    display: inline-flex;
    justify-items: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 0;
    left: -12%; }
    .services__icon-stack-1 {
      color: #B9DDE7;
      font-size: 40px; }
    .services__icon-stack-2 {
      color: #171717; }

.blog {
  background: #FFFFFF; }
  .blog__item {
    display: flex;
    flex-direction: column;
    align-items: left; }
    .blog__item--left {
      flex-direction: row;
      margin-left: 200px; }
    .blog__item--right {
      flex-direction: row-reverse;
      margin-right: 200px;
      margin-top: 40px; }
  .blog__content-container--left {
    padding-left: 100px;
    margin-top: 60px; }
  .blog__content-container--right {
    width: 50%; }
  .blog__image {
    display: block; }
    .blog__image--left {
      box-shadow: 15px 15px 0px 0px #68B0C1, -300px 15px 0px 0px #68B0C1; }
    .blog__image--right {
      box-shadow: 15px 15px 0px 0px #B9DDE7, 200px 15px 0px 0px #B9DDE7; }
  .blog__text {
    width: 70%; }

.journey {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .journey__image {
    box-shadow: 20px 20px 0px 0px #68B0C1; }
  .journey__content-container {
    padding-left: 5%;
    width: 50%; }

.gallery {
  background: #FFFFFF; }
  .gallery__list {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
    justify-content: center; }
  .gallery__image {
    width: 30%;
    margin-right: 2rem; }

.copyright {
  background: #171717;
  width: 100%;
  padding: 1px 0;
  text-align: center; }
  .copyright .copyright__text {
    color: #FFFFFF; }

.main {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.aside {
  background: #FFFFFF;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-top: 5%; }
  .aside__image {
    width: 100%;
    padding: 2rem; }

.recent-posts__item {
  font-weight: 400;
  list-style-type: disc;
  list-style-position: outside; }

.article {
  width: 60vw;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 5%;
  margin-left: 20px;
  background: #FFFFFF;
  border-bottom: 2px solid #227284; }
  .article__comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 7px solid #227284; }
    .article__comment-image {
      align-self: flex-start;
      margin-top: 2rem;
      margin-left: 2rem; }
    .article__comment-text {
      width: 30%; }

.contact {
  background: #F6F6F6; }
  .contact .btn {
    width: 100%;
    margin-bottom: 100px; }

.contact__name, .contact__email, .contact__comments {
  margin-top: 20px;
  display: inline-block; }

.contact__name, .contact__email {
  padding: 2rem;
  width: calc(50% - 7px);
  margin-right: 10px;
  display: inline-block; }

.contact__email {
  margin-right: 0; }

.contact__comments {
  width: 100%;
  padding: 2rem;
  margin-bottom: 20px; }

.main {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.contact-info__social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%; }
